@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}
input[type="text"]::placeholder {
  color: white;
  opacity: 50%;
}

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 218, 198, 0.5);
  height: 10%;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00dac6;
}

::-webkit-scrollbar-track {
  background-color: #1d232a;
}

::selection {
  color: #1d232a;
  background-color: #00dac6;
}
.wrapper {
  @apply container mx-auto px-5 md:px-0;
}

.section-padding {
  @apply py-10 md:py-16;
}
